<h1> GPT4 over Email </h1>

<ol>

<li> Tell us what email you will be using to send messages to GPT4 </li>
<li> Setup billing as per usage billing. $20 per 200 emails. Simple and flexible. Only pay for what you use.</li>
<li> Send your emails to {{ CONTACT_EMAIL }} </li>
<li> Emails will be processed and sent back to you. </li>

</ol>

    <input type="text" id="email" name="email" placeholder="Your email: ">
    <a data-label="AI over mail" style="background-color:#20c997;color:#ffffff;min-width:128px;padding:8px 16px;border-radius:8px;text-align:center;font-weight:bold;text-decoration:none;display:inline-block;" href="https://pay.zaprite.com/pl_LhCCUdHYh1" target="_blank" rel="no referrer noopener">Pay Now</a>
