{% extends 'base.html' %}
{% block content %}
<main class="bg-gray-100">
  <div class="min-h-screen flex justify-center items-center">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-4xl mx-4">
      
      <div class="flex justify-between">
        <!-- Left Side -->

        <div class="w-1/2 pr-4">
          <h1 class="text-2xl font-semibold mb-6">JTM Technology</h1>
          <div class="flex items-center justify-between mb-4">
            <h2 class="text-4xl font-bold">$20.00</h2>
          </div>

          <div class="mb-6">
            <h3 class="font-semibold mb-2">Summary</h3>
            <div class="flex justify-between">
              <span>AI over mail</span>
              <span>$20.00</span>
            </div>
          
            <div class="flex justify-between mt-4">
              <span class="font-semibold">Total Due</span>
              <span class="font-semibold">$20.00</span>
            </div>
          </div>

          <p class="text-gray-600 mb-6">AI over mail</p>
          <p class="text-gray-600">$20 is 200 emails. Use LLMs over email. $0.10 per email.</p>
        </div>

        <!-- Right Side -->
        <div class="w-1/2 pl-4 secondary-bg-color rounded-lg">
          <div class="flex flex-col items-center py-8" id="payment-box">
            <h2 class="text-2xl font-semibold mb-6 text-center">Select Payment Method</h2>
            <button class="bg-green-500 text-white py-2 px-4 rounded-md mb-2 w-1/2 text-center flex justify-between items-center">
              <!-- Click, create invoice, and show user Stripe Checkout -->
              <span class="bg-green-700 text-xs py-1 px-2 rounded-full">+3.5%</span>
              <span>Card</span>
              <span class="text-sm"><i class="fa fa-credit-card"></i></span>
            </button>

            <button class="bg-green-500 text-white py-2 px-4 rounded-md mb-2 w-1/2 text-center flex justify-between items-center">
              <!-- Click, create invoice, and show user LN qrCODE and invoice -->
              <span>Lightning</span>
              <span class="text-sm"><i class="fas fa-bolt"></i></span>
            </button>
          </div>
          <div class="text-black flex items-center mt-4 justify-center">
            <i class="fas fa-arrow-left mr-2"></i>
            <a class="hover:text-gray-800" href="{% url 'home' %}">Go back</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}

