{% load static %}
{% load tailwind_cli %}
<!DOCTYPE html>
<html lang="en">

<head> 
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
    rel="shortcut icon"
    href="{% static 'img/logo_ico.ico' %}"
    type="image/x-icon"
  />

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>

 <!-- Facebook meta tags -->
 <meta property="og:title" content="Selma" />
 <meta property="og:description" content="Selma is an AI assistant over email." />
 <meta property="og:image" content="{% static 'img/logo_bg.png' %}" />

 <!-- Twitter meta tags -->
 <meta name="twitter:card" content="summary_large_image" />
 <meta name="twitter:title" content="Selma" />
 <meta name="twitter:description" content="Selma is an AI assistant over email." />
 <meta name="twitter:image" content="{% static 'img/logo_bg.png' %}" />

 <!-- Search engine meta tags -->
 <meta name="description"
     content="Selma is a AI assistant over email." />

<title>{% block title %} Selma {% endblock title %}</title>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&amp;display=swap" rel="stylesheet"/>

{% tailwind_css %}
<link href="{% static 'css/modal_helper.css' %}" rel="stylesheet" />
</head>
<body class="bg-gray-100" 
hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
> 
<header class="container mx-auto px-6 py-4 w-full">
    <nav class="flex justify-between">
        <a  href="{% url 'home' %}">
        <img src= "{% static 'img/logo_bg.png' %}" width="34px" height="34px" alt="logo" />
        </a>
        <div class="flex space-x-6">
            <a class="text-gray-600 hover:text-gray-900" href="{% url 'about' %}">About</a>
            <a class="text-gray-600 hover:text-gray-900" href="javascript:;" hx-get="{% url 'pricing' %}" hx-target="body" hx-swap="beforeend">Pricing</a>
            <a class="text-gray-600 hover:text-gray-900" href="#">Contact</a>
        </div>


    </nav>
</header>

  {% block content %} {% endblock %}

<footer class="text-center text-gray-500 text-xs">
    <div class="container mx-auto px-4 py-8">
        <div class="flex justify-between items-center pb-4">
            <div class="text-sm text-gray-600">
                <a class="hover:text-gray-900" href="#">Terms of Service</a> <span class="mx-2">|</span>
                <a class="hover:text-gray-900" href="#">Privacy Policy</a> <span class="mx-2">|</span>
                <a class="hover:text-gray-900" href="#">Support</a>
            </div>
            <div class="text-gray-600 text-xs">
            © {% now "Y" %} JTM Technologies. | Est. <a class="hover:text-gray-900" 
            href="https://mempool.space/block/00000000000000000002aed1a5edf182b222bb718976de3265834d8e4b936545">830945</a>
            </div>
        </div>
    </div>
</footer>

  <script src="{% static 'js/htmx.min.js' %}" defer></script>

  <script src="{% static 'js/hyperscript.min.js'%}" defer></script>
 
 </body>
