@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3D(0,30px,0);
    }
    to {
        opacity: 1;
        transform: translate3D(0,0px,0);
    }
}
@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
} 

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
} 

@keyframes zoomIn {
	0% {transform: scale(0.9);}
	100% {transform: scale(1);}
} 

@keyframes zoomOut {
	0% {transform: scale(1);}
	100% {transform: scale(0.9);}
} 
.fade-in {
    animation: fadeInUp 0.75s forwards;
}
#modal {
	/* Underlay covers entire screen. */
    display: flex;
	position: fixed;
	top:0px;
	bottom: 0px;
	left:0px;
	right:0px;
	background-color:rgba(0,0,0,0.5);
	z-index:1000;
	flex-direction:column;
	align-items:center;
	animation-name: fadeIn;
	animation-duration:150ms;
	animation-timing-function: ease;
	overflow-y: auto
}

#modal > .modal-underlay {
	position: absolute;
	z-index: -1;
	top:0px;
	bottom:0px;
	left: 0px;
	right: 0px;
}

#modal > .modal-content {

	margin-top:10vh;


	width:80%;
	max-width:600px;


	border:solid 1px #999;
	border-radius:8px;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
	background-color:white;
	padding:20px;


	animation-name:zoomIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal.closing {

	animation-name: fadeOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal.closing > .modal-content {

	animation-name: zoomOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}


.success {
	background-color:#d1fae5;
}

.error {
	background-color: #fee2e2;
}