<main class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-lg text-center w-96">
        <div class="mb-4">
            <h1 class="text-2xl font-semibold">Lightning Payment</h1>
        </div>
    
        <div class="p-4 border-dashed border-4 border-gray-300 rounded-lg mb-4">
            <img alt="Placeholder image for a QR code" class="mx-auto mb-4" height="256" src="{{qr_code}}" width="256"/>
                <div class="relative">
                    <input class="border border-gray-300 rounded pl-3 pr-10 py-2 w-full text-sm" id="lightningAddress" readonly type="text" value="{{payment_request}}"/>
                    <button class="absolute inset-y-0 right-0 flex items-center px-3 text-gray-500 bg-gray-200 rounded-lg" 
                    _="on click call navigator.clipboard.writeText(#lightningAddress.value) then set my.innerHTML to 'Copied!' then wait 1s then set my.innerHTML to `<i class='fas fa-copy'></i>`">
                    <span> <i class="fas fa-copy"></i> </span>
                    </button>
                </div>
        </div>
    
    
        <div class="flex justify-between items-center text-sm font-medium mb-4">
            <p><i class="fab fa-btc text-green-500"></i> ${{bitcoin_price_usd|floatformat:"2g"}}</p>   
            <p> You are paying {{sats|floatformat:"g"}} sats</p>
        </div>
    </div>

</main>