<script>
    async function mountCheckout() {
        // remove all the children of the checkout div
        const checkoutDiv = document.getElementById('checkout');
        while (checkoutDiv.firstChild) {
            checkoutDiv.removeChild(checkoutDiv.firstChild);
        }
        // this comes from the server
        const stripe = Stripe("{{ stripe_public_key }}");
        const clientSecret = "{{ client_secret }}";
        const checkout = await stripe.initEmbeddedCheckout({clientSecret});
        checkout.mount('#checkout');

    }

    mountCheckout();
  </script>