{% extends 'base.html' %}
{% block title %}Terms of Service{% endblock %}

{% block content %}
<main class="bg-gray-100">
    <div class="min-h-screen flex flex-col">
        <!-- Header -->
        <div class="bg-green-500 p-4 flex justify-center items-center rounded-lg">
            <h1 class="text-white text-3xl text-center font-semibold">Assistant overmail by JTM Technologies.</h1>
        </div>
    
        <!-- Main Content -->
        <div class="flex-grow">
            <div class="max-w-4xl mx-auto py-8 px-4">
                <div class="bg-white shadow rounded-lg p-12">
                    <div class="border-b border-gray-200 pb-4">
                        <h2 class="text-2xl font-semibold">Terms of Service</h2>
                    </div>
                    <div class="mt-4">
                        <p class="text-sm text-gray-500">Last Updated: Feb 18, 2024</p>
                    
                        <div class="mt-6">
                            <h3 class="text-xl font-semibold">1. Acceptance of Terms</h3>
                            <p class="mt-2">By using the AI assistant overmail generation services ("Services") provided by JTM Technologies. ("Company"), users ("You") agree to be bound by these Terms of Service ("Terms").</p>
                        </div>

                        <div class="mt-6">
                            <h3 class="text-xl font-semibold">2. Description of Services</h3>
                            <p class="mt-2">The Services involve the processing of emails and text provided by you into a response through the use of artificial intelligence technology.</p>
                        </div>
                    
                        <div class="mt-6">
                            <h3 class="text-xl font-semibold">3. User Responsibilities</h3>
                            <p class="mt-2">You are responsible for any text you send to the Services. You must ensure that you have the necessary rights or permissions for any text you send.</p>
                        </div>
                    
                        <div class="mt-6">
                            <h3 class="text-xl font-semibold">4. Intellectual Property Rights</h3>
                            <p class="mt-2"> The company claims no rights over any emails sent over to the assistant. No data is saved on our servers.</p>
                        </div>
                        
                        <div class="mt-6">
                            <h3 class="text-xl font-semibold">5. Termination</h3>
                            <p class="mt-2">The company reserves the right to terminate the Services at any time without notice.</p>

                        </div>

                        <div class="mt-6">
                            <h3 class="text-xl font-semibold">6. Prohibited Use</h3>
                            <p class="mt-2">You may not use the Services for any unlawful or prohibited activities as determined by the Company. The uploading of offensive, obscene, or infringing content is strictly prohibited.</p>
                        </div>

                        <div class="mt-6">
                            <h3 class="text-xl font-semibold">7. Disclaimer of Warranties</h3>
                            <p class="mt-2">The Services are provided "as is" and "as available" without any warranties of any kind. The Company disclaims all warranties, express and implied, including the warranty of merchantability, fitness for a particular purpose, and non-infringement.</p>
                
                        </div>

                        <div class="mt-6">
                            <h3 class="text-xl font-semibold">8. Limitation of Liability</h3>
                            <p class="mt-2">The Company shall not be liable for any direct, indirect, incidental, special, or consequential damages resulting from the use or inability to use the Services.</p>
                        </div>

                        <div class="mt-6">
                            <h3 class="text-xl font-semibold">9. Governing Law</h3>
                            <p class="mt-2">These Terms shall be governed by and construed in accordance with the laws of the United States.</p>
                        </div>

                        <div class="mt-6">
                            <h3 class="text-xl font-semibold">10. Changes to Terms</h3>
                            <p class="mt-2">The Company reserves the right to change these Terms at any time. You are responsible for reviewing these Terms regularly.</p>
                        </div>

                        <div class="mt-6">
                            <h3 class="text-xl font-semibold">11. Contact Information</h3>
                            <p class="mt-2">If you have any questions or concerns about these Terms, please contact us at
                                <a href="mailto:hello@overmail.ai" class="text-green-500"> hello@overmail.ai </a>
                            </p>
                        </div>
    
                    </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
